.header {
	color: #444444;
	font-size: 16px;
	text-align: center;
	margin: 10px 0px 20px;
}
.layui-form .siderBar {
	height: 0px;
	border-bottom: 1px dashed #e6e6e6;
	margin: 20px 0px;
	background-color: transparent;
}
.layui-textarea{
	height: 200px;
}