.messages {

    display: none;
    width: 400px;
    height: 600px;
    position: fixed;
    top: 0px;
    left: 1150px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    background: rgba(195, 210, 138,1);

}
